@using blazor_tailwind_airbnb.Services

<Container>
    <div class="max-w-screen-lg mx-auto">
        <div class="flex flex-col gap-6">
            <ListingHead
                CurrentUser="@CurrentUser"
                ListingId="@(Listing.ListingId)"
                Image="@(new Base64Image(Listing.Image.Base64))"
                LocationCode="@(Listing.Location.Value)"
                Title="@(Listing.Description.Title)"/>
            <div class="grid grid-cols-1 md:grid-cols-7 md:gap-10 mt-6">
                <ListingInfo Category="@(Listing.Category)" Description="@(Listing.Description)" LocationInfo="@(Listing.Info)" Location="@(Listing.Location)" HostUser="@hostUser" />
                <div 
                    class="
                        order-first 
                        mb-10 
                        md:order-last 
                        md:col-span-3
                    "
                >
                    <ListingReservation Listing="@Listing" OnCreateReservation="CreateNewReservation" />
                </div>
            </div>
        </div>
    </div>
</Container>

@code {
    [Inject]
    public Services.IUsers Users { get;set; } = null!;
    [Inject]
    public IReservations Reservations { get;set; } = null!;
    [EditorRequired]
    [Parameter]
    public Listing Listing { get;set; }
    [Parameter]
    public User? CurrentUser { get;set; }

    private User? hostUser;

    protected override async Task OnParametersSetAsync()
    {
        hostUser = await Users.GetUserById(Listing.Host);
    }

    private async Task CreateNewReservation((ListingId ListingId, DateRangeLocal DateRange) args)
    {
        await Reservations.AddReservation(Listing, args.DateRange.Start, args.DateRange.End);
    }
}

