@using blazor_tailwind_airbnb.Shared.Inputs

<Modal @bind-IsOpen="@IsOpen" Label="Register">
    <div class="relative p-6 flex-auto">
        <div class="flex flex-col gap-4">
            <Heading
                title="Welcome to Airbnb"
                subtitle="Create an account!"
            />
            <EditForm Model="@dataModel" OnValidSubmit="@HandleValidSubmit" class="flex flex-col gap-2" >
                <DataAnnotationsValidator />

                <InputTextWithLabel Label="Email" Id="email" @bind-Value="@dataModel.Email" ValidationFor="() => dataModel.Email" />
                <InputTextWithLabel Label="Name" Id="name" @bind-Value="@dataModel.Name" ValidationFor="() => dataModel.Name"/>
                <InputTextWithLabel Label="Password" Id="password" @bind-Value="@dataModel.Password" Type="password" ValidationFor="() => dataModel.Password" />
                <div class="pt-6">
                    <div class="flex flex-row items-center w-full">
                        <Button Label="Submit" Type="submit" Disabled="isLoading" />
                    </div>
                </div>
            </EditForm>

            <div class="flex flex-col gap-4 mt-3">
                <hr />
                <Button Outline="true" Label="Continue with Google" Disabled="isLoading" >
                    <Icon>
                        <GoogleIcon class="absolute left-4 top-3" Fill="black"/>
                    </Icon>
                </Button>
                <Button Outline="true" Label="Continue with Github" Disabled="isLoading" >
                    <Icon>
                        <GithubIcon class="absolute left-4 top-3" Fill="black"/>
                    </Icon>
                </Button>
                <div class="justify-center flex flex-row items-center gap-2 text-neutral-500 text-center mt-4 font-light">
                    <div>
                        Already have an account?
                    </div>
                    <div
                        @onclick="OnClose"
                        class="text-neutral-800 cursor-pointer hover:underline">
                        Log in
                    </div>
                </div>
            </div>
        </div>
    </div>
</Modal>
