@using System.Linq.Expressions
@inherits InputBase<string?>

<div class="w-full relative">
    @if(FormatPrice)
    {
        <DollarIcon class="text-neutral-700 absolute top-5 left-2" />
    }
    <input id="@Id"
           disabled="@Disabled"
           placeholder=" "
           type="@Type"
           @bind="@CurrentValue"
           class="
            block
            peer
            w-full
            p-4
            pt-6
            font-light
            bg-white
            border-2
            rounded-md
            outline-none
            transition
            disabled:opacity-70
            disabled:cursor-not-allowed
            @paddingLeftCss" />
    <label class="
        absolute
        text-md
        duration-150
        transform
        -translate-y-4
        top-5
        z-10
        origin-[0]
        scale-75
        @paddingLeftCss
        @textColorCss
        peer-placeholder-shown:scale-100
        peer-placeholder-shown:translate-y-0
        peer-focus:scale-75
        peer-focus:-translate-y-4">
        @Label
    </label>

    <ValidationMessage For="@ValidationFor" />
</div>

@code {
    private string textColorCss => HasError() ? "text-rose-500" : "text-zinc-400";
    private string paddingLeftCss => FormatPrice ? "pl-9" : "pl-4";
}